
.mesa {
    margin: 10px;
    background: white;
}


.mesaimg {
    display: inline-block;
    width: 200px;
    height: 130px;
    background-color: lightgrey;
    background: url("../../../../content/images/mesa.png") no-repeat center top;
    background-size: cover;
}

.row {
    justify-content: center;
}


.botao {
   text-align: center;
}
