
<div *ngIf="mesa">
    <h2><span jhiTranslate="eRestauranteApp.mesa.detail.title">Mesa</span> {{mesa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dd class="float-right">
            <div *ngIf="mesa.qrcode">
                <a (click)="openFile(mesa.qrcodeContentType, mesa.qrcode)">
                    <img [src]="'data:' + mesa.qrcodeContentType + ';base64,' + mesa.qrcode" style="max-width: 100%;" alt="mesa image"/>
                </a>
                {{mesa.qrcodeContentType}}, {{byteSize(mesa.qrcode)}}

            </div>
           <qr-code *ngIf="!mesa.qrcode"
                    [value]="'http://' + host + '/#/(popup:mesa/' + mesa.codigo + '/set)'"
                    [size]="300">
            </qr-code>
            </dd>
        <dt><span jhiTranslate="eRestauranteApp.mesa.codigo">Codigo</span></dt>
        <dd>
            <span>{{mesa.codigo}}</span>
        </dd>
        <dt><span jhiTranslate="eRestauranteApp.mesa.local">Local</span></dt>
        <dd>
            <span>{{mesa.local}}</span>
        </dd>
        <dt><span jhiTranslate="eRestauranteApp.mesa.descricao">Descricao</span></dt>
        <dd>
            <span>{{mesa.descricao}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'mesa/'+ mesa.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
