
.produto {
    margin: 10px;
    min-width: 300px;
    text-align: center;
}

img.imagem{
    max-width: 300px;
}

.editor {
    width: 350px;
}

.centro {
    justify-content: center;
    //align-items: center;
}

