<div>
    <h2>
        <span jhiTranslate="eRestauranteApp.lancamento.home.title">Lancamentos</span>

        <button class="btn btn-secondary float-right" (click)="setModoTabela()" style="margin-left: 15px;">
            <span [ngClass]="{
                    'fa': true,
                    'fa-th-list': !modoTabela,
                    'fa-line-chart': modoTabela}" ></span>
            {{modoTabela ? 'Modo Gráfico' : 'Modo Tabela'}}
        </button>

        <button class="btn btn-primary float-right jh-create-entity create-lancamento" [routerLink]="['/', { outlets: { popup: ['lancamento-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eRestauranteApp.lancamento.home.createLabel">
            Create new Lancamento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>

    <br/>

    <div class="row" *ngIf="lancamentos && !modoTabela">
        <div class="col-12" *ngIf="anual">
            <div class="graph">
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="chartAnual"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
            </div>
        </div>
        <div class="col-12" *ngIf="!anual">
            <div class="graph">
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="chartMensal"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
            </div>
        </div>
    </div>

    <br>

    <div class="row" *ngIf="lancamentos && !modoTabela">

        <div class="col-12">
            <button class="btn btn-success" (click)="setAnual()">{{anual ?  'Modo Mensal':'Modo Anual'}}</button>

            <div *ngIf="!anual" class="float-right">
                <div class="btn-group flex-btn-group-container">
                <button *ngFor="let botao of chartAnual" (click)="setMes(botao)" style="margin-left: 10px"
                        [ngClass]="{
                    'btn': true,
                    'btn-secondary': chartAnual[mes] === botao,
                    'btn-primary': chartAnual[mes] !== botao}"
                >{{botao}}</button>
                </div>
            </div>

        </div>

    </div>


    <div class="row calend spac" *ngIf="lancamentos && modoTabela">
        <b>Filtrar lançamentos:</b>

        <form class="form-inline spac">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-yyyy" [firstDayOfWeek]="7"
                           name="dp" [(ngModel)]="date1" ngbDatepicker #d="ngbDatepicker">
                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
            </div>
        </form>

        <b>  ate:</b>

        <form class="form-inline spac">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-yyyy" [firstDayOfWeek]="7"
                           name="dp" [(ngModel)]="date2" ngbDatepicker #d2="ngbDatepicker">
                    <button class="input-group-addon" (click)="d2.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
            </div>
        </form>

        <button class="btn btn-success spac" (click)="loadAll(true)"><span class="fa fa-search"></span>Processar</button>
    </div>


    <div #tableH>
    </div>


        <div class="table-responsive" *ngIf="lancamentos&& modoTabela">
            <table class="table table-striped" [jhiTableheader]="{'view': tableHeader, 'entidade': 'lancamento'}">
                <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
            <th jhiSortBy="isentrada"><span jhiTranslate="eRestauranteApp.lancamento.isentrada">Isentrada</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="data"><span jhiTranslate="eRestauranteApp.lancamento.data">Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vencimento"><span jhiTranslate="eRestauranteApp.lancamento.vencimento">Vencimento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="natureza"><span jhiTranslate="eRestauranteApp.lancamento.natureza">Natureza</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="valor"><span jhiTranslate="eRestauranteApp.lancamento.valor">Valor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parcelas"><span jhiTranslate="eRestauranteApp.lancamento.parcelas">Parcelas</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observacao"><span jhiTranslate="eRestauranteApp.lancamento.observacao">Observacao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comanda.id"><span jhiTranslate="eRestauranteApp.lancamento.comanda">Comanda</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colaborador.id"><span jhiTranslate="eRestauranteApp.lancamento.colaborador">Colaborador</span> <span class="fa fa-sort"></span></th>
                    <th style="text-align: center;"><span><span>Ações</span></span></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let lancamento of lancamentos ;trackBy: trackId">
                <!--<td><a [routerLink]="['../lancamento', lancamento.id ]">{{lancamento.id}}</a></td>-->
                <td [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }"><span [ngClass]="{
                'fa': true,
                'fa-arrow-down': !lancamento.isentrada,
                'fa-arrow-up': lancamento.isentrada
                }"></span></td>
                <td [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }">{{lancamento.data | date:'medium'}}</td>
                <td [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }">{{lancamento.vencimento | date:'medium'}}</td>
                <td  [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }" jhiTranslate="{{'eRestauranteApp.Natureza.' + lancamento.natureza}}">{{lancamento.natureza}}</td>
                <td [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }">{{lancamento.valor | currency:'BRL':true:'.2-2'}}</td>
                <td [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }">{{lancamento.parcelas}}</td>
                <td [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }">{{lancamento.observacao}}</td>
                <td [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }">
                    <div *ngIf="lancamento.comanda">
                        <a [routerLink]="['../comanda', lancamento.comanda?.id ]" >{{lancamento.comanda?.id}}</a>
                    </div>
                </td>
                <td [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }">
                    <div *ngIf="lancamento.colaborador">
                        <a [routerLink]="['../colaborador', lancamento.colaborador?.id ]" >{{lancamento.colaborador?.id}}</a>
                    </div>
                </td>
                <td  [ngClass]="{
                'vermelho': !lancamento.isentrada,
                'verde': lancamento.isentrada
                }" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../lancamento', lancamento.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lancamento/'+ lancamento.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lancamento/'+ lancamento.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive" *ngIf="modoTabela && lancamentos">
        <table class="table table-striped">
            <tbody>
            <td>Total do período</td>
            <td class="tt"><b>{{total| currency:'BRL':true:'.2-2'}}</b></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div *ngIf="!lancamentos">
        ainda não há lançamentos para o periodo...
    </div>

</div>
