.comanda {
    margin: 10px;
    text-align: center;
}

.total {
    margin-top: 1%;
}

.comandas {
    width: 100%;
}

.alterada {
   background: #f9d5d5;
}

.toR {
    margin-right: 5px;
}

.vermelho {
    color: red;
}

.pointer {
    cursor: pointer;
}
