<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myImpressoraLabel" jhiTranslate="eRestauranteApp.impressora.home.createOrEditLabel">Create or edit a Impressora</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!impressora.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="impressora.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eRestauranteApp.impressora.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="impressora.nome"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eRestauranteApp.impressora.codigo" for="field_codigo">Codigo</label>
            <input type="text" class="form-control" name="codigo" id="field_codigo"
                [(ngModel)]="impressora.codigo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eRestauranteApp.impressora.prioridade" for="field_prioridade">Prioridade</label>
            <input type="number" class="form-control" name="prioridade" id="field_prioridade"
                [(ngModel)]="impressora.prioridade"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eRestauranteApp.impressora.script" for="field_script">Script</label>
            <textarea class="form-control" name="script" id="field_script"
                [(ngModel)]="impressora.script"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eRestauranteApp.impressora.local" for="field_local">Local</label>
            <input type="text" class="form-control" name="local" id="field_local"
                [(ngModel)]="impressora.local"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
