
<div *ngIf="cargo">
    <h2><span jhiTranslate="eRestauranteApp.cargo.detail.title">Cargo</span> {{cargo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestauranteApp.cargo.nome">Nome</span></dt>
        <dd>
            <span>{{cargo.nome}}</span>
        </dd>
        <dt><span jhiTranslate="eRestauranteApp.cargo.salario">Salario</span></dt>
        <dd>
            <span>{{cargo.salario | currency:'BRL':true:'.2-2'}}</span>
        </dd>
        <dt><span jhiTranslate="eRestauranteApp.cargo.comissao">Comissao</span></dt>
        <dd>
            <span>{{cargo.comissao | currency:'BRL':true:'.2-2'}}</span>
        </dd>
        <dt><span jhiTranslate="eRestauranteApp.cargo.tipo">Tipo</span></dt>
        <dd>
            <span jhiTranslate="{{'eRestauranteApp.CargoTipo.' + cargo.tipo}}">{{cargo.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="eRestauranteApp.cargo.permissao">Permissao</span></dt>
        <dd>
            <span>{{cargo.permissao}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cargo/'+ cargo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
