<jhi-alert></jhi-alert>

<div *ngIf="!isAuthenticated()">
    Autenticando...
</div>

<div  *ngIf="isAuthenticated()" [ngSwitch]="status">

    <div *ngSwitchCase="1">
        Carregando...
    </div>

    <div *ngSwitchCase="2" class="row">
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-9">
            <h1 class="display-4">ERestaurante</h1>
            <p class="lead">Sistema para gerenciamento de restaurantes</p>

            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>

            <p>
                Faça ações rápidas:
            </p>

            <ul>

                <li><a routerLink="produto/">Gerenciar Produtos</a></li>
                <li><a routerLink="cargo/">Gerenciar Cargos</a></li>
                <li><a routerLink="cardapio/">Gerenciar Cardápio</a></li>
                <li><a routerLink="lancamento/">Vizualizar Lançamentos</a></li>
                <li><a routerLink="colaborador/">Cadastrar Colaborador</a></li>
                <li><a routerLink="jhi-metrics/">Informações do Sistema</a></li>

            </ul>

        </div>
    </div>


    <h2 *ngSwitchCase="3" >Cardápio de {{getDia()}}</h2>

    <div *ngIf="cardapio">
        <div *ngSwitchCase="3" class="row">
            <div *ngFor="let produto of cardapio.produtos" class="card produto">

                <div class="card-header">
                    <span class="float-left">{{produto.nome}}</span>
                    <span class="float-right">{{produto.codigo}}</span>
                </div>

                <div class="card-body">
                    <img *ngIf="produto.foto" (click)="openFile(produto.fotoContentType, produto.foto)" [src]="'data:' + produto.fotoContentType + ';base64,' + produto.foto" alt="produto image" class="imagem"/>
                    <div class="descricao" [innerHtml]="produto.html"></div>
                    <div class="opcionais">
                        <div *ngFor="let opcional of getProdutoArr(produto, false)">
                            <input type="checkbox"  #opc (change)="setOpc(opc.checked, produto, false, opcional);"> {{opcional}}
                        </div>
                    </div>
                    <div class="adicionais">
                        <div *ngFor="let opcional of getProdutoArr(produto, true)">
                            <input type="checkbox" #opt (change)="setOpc(opt.checked, produto, true, opcional);"> {{opcional}}
                        </div>
                    </div>
                    <input type="number" [(ngModel)]="quantidades[produto.id]" min="0" max="produto.estoque">
                </div>

                <div class="card-footer">

                <span class="float-left">
                   {{produto.preco | currency:'BRL':true:'.2-2'}}
                </span>
                    <button class="btn btn-sm float-right" (click)="comprar(produto)"
                            [ngClass]="{'btn-success' : !produtosPedidos[produto.id], 'btn-warning' : produtosPedidos[produto.id]}"
                            [disabled]="!comanda && (compras.length > 0)">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="d-none d-md-inline">Pedir</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="status === 3 && !cardapio">
        Carregando produtos para este cardapio...
    </div>
</div>
